# Node modules
node_modules/
package-lock.json
yarn.lock

# iOS build files
ios/Pods/
ios/build/
ios/*.xcodeproj/
ios/*.xcworkspace/

# Android build files
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/local.properties

# Metro bundler cache
.expo/
.expo-shared/
dist/
.cache/
babel.config.js
metro.config.js

# Logs & Debug Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tsbuildinfo

# Environment files
.env
.env.*
config.js
